/* 
	Nome: Emanoela Masqueti Simão
	RA: SC3005119 
*/

table {
	margin: 0 auto;
	border: 1px solid black;
	font-size: 2rem;
}

table tr td {
	border: 1px solid black;
	padding: 0.5rem;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
}